<div class="row">
  <div class="col s12 m12">
    <div class="card-panel">
      This is a very minimal simple dashboard to merge and publish on Gitlab pages a Gitlab CI pipeline result from <a href="https://gitlab.com/mog33/gitlab-ci-drupal">Gitlab CI for Drupal.</a>
    </div>
  </div>
</div>