<div class="row">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Drupal CI</span>
        <table>
          <tbody>
            <tr>
              <td>Type of CI</td>
              <td>{{vars.CI_TYPE}}</td>
            </tr>
            <tr>
              <td>Drupal version</td>
              <td>{{vars.CI_DRUPAL_VERSION}}</td>
            </tr>
            <tr>
              <td>CSS linted</td>
              <td>{{vars.DIRS_CSS}}</td>
            </tr>
            <tr>
              <td>CSS config</td>
              <td>{{vars.CONFIG_STYLELINT}}</td>
            </tr>
            <tr>
              <td>JS linted</td>
              <td>{{vars.DIRS_JS}}</td>
            </tr>
            <tr>
              <td>JS config</td>
              <td>{{vars.CONFIG_ESLINT}}</td>
            </tr>
            <tr>
              <td>YAML linted</td>
              <td>{{vars.DIRS_YAML}}</td>
            </tr>
            <tr>
              <td>Twig linted</td>
              <td>{{vars.DIRS_TWIG}}</td>
            </tr>
            <tr>
              <td>PHPUNIT</td>
              <td>{{vars.DIRS_PHP}}</td>
            </tr>
            <tr>
              <td>PHPUNIT tests</td>
              <td>{{vars.PHPUNIT_TESTS}}</td>
            </tr>
            <tr>
              <td>SIMPLETEST_DB</td>
              <td>{{vars.SIMPLETEST_DB}}</td>
            </tr>
            <tr>
              <td>DB_DRIVER</td>
              <td>{{vars.DB_DRIVER}}</td>
            </tr>
            <tr>
              <td>SERVICE_DATABASE</td>
              <td>{{vars.SERVICE_DATABASE}}:{{vars.SERVICE_DATABASE_PORT}}</td>
            </tr>
            <tr>
              <td>SERVICE_CHROMEDRIVER</td>
              <td>{{vars.SERVICE_CHROMEDRIVER}}:{{vars.SERVICE_CHROMEDRIVER_PORT}}</td>
            </tr>
            <tr>
              <td>SERVICE_CHROME</td>
              <td>{{vars.SERVICE_CHROME}}:{{vars.SERVICE_CHROME_PORT}}</td>
            </tr>
            <tr>
              <td>QA</td>
              <td>{{vars.DIRS_QA}}</td>
            </tr>
            <tr>
              <td>Nightwatch tests</td>
              <td>{{vars.NIGHTWATCH_TESTS}}</td>
            </tr>
            <tr>
              <td>QA metrics tools</td>
              <td>{{vars.TOOLS_METRICS}}</td>
            </tr>
            <tr>
              <td>QA tools</td>
              <td>{{vars.TOOLS_QA}}</td>
            </tr>
            <tr>
              <td>CI template source</td>
              <td>{{vars.CI_REF}}</td>
            </tr>
            <tr>
              <td>CI config source</td>
              <td>{{vars.CI_REMOTE_FILES}}</td>
            </tr>
            <tr>
              <td>CI verbose</td>
              <td>{{vars.CI_VERBOSE}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-action">
        <a target="_blank" href="https://gitlab.com/mog33/gitlab-ci-drupal" title="View CI project home">CI template project</a>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Project: {{vars.CI_PROJECT_TITLE}}</span>
        <p><a target="_blank" href="{{vars.CI_PROJECT_URL}}">{{vars.CI_PROJECT_URL}}</a></p>
        <p>Visibility: <strong>{{vars.CI_PROJECT_VISIBILITY}}</strong></p>
      </div>
      <div class="card-action">
        <a href="{{vars.CI_PROJECT_URL}}">View project</a>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Pipeline {{vars.CI_PIPELINE_ID}} for <strong>{{vars.CI_BUILD_REF_NAME}}</strong></span>
        <p><a target="_blank" href="{{vars.CI_PIPELINE_URL}}">{{vars.CI_PIPELINE_URL}}</a></p>
        <p><strong>Commit:</strong> {{vars.CI_COMMIT_MESSAGE}}</p>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">CI server</span>
        <p>{{vars.CI_SERVER_URL}}</p>
        <p>Version: {{vars.CI_SERVER_VERSION}}</p>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">CI jobs</span>
        <table>
          <thead>
            <tr>
              <td>Stage</td>
              <td>Job</td>
              <td>Status</td>
              <td>Duration (s)</td>
            </tr>
          </thead>
          <tbody>
            {{#jobs}}
            <tr>
              <td>{{stage}}</td>
              <td><a href="{{url}}" target="_blank">{{id}}</a></td>
              <td>{{status}}</td>
              <td>{{duration}}</td>
            </tr>
            {{/jobs}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
