<ul id="sidenav" class="sidenav sidenav-fixed">
  <li><a class="static waves-effect" href="#home"><i class="tiny material-icons">home</i>Home</a></li>
  <li>
    <div class="divider"></div>
  </li>
  {{#menus}}
  <li>
    <a class="job waves-effect" data-job="{{id}}" data-report="reports/report-{{id}}/{{report}}">
      <i class="tiny right material-icons job-status">help_outline</i>{{title}}
    </a>
  </li>
  {{/menus}}
  <li>
    <div class="divider"></div>
  </li>
  <li><a class="static waves-effect" href="#about"><i class="tiny material-icons">help_outline</i>About</a></li>
</ul>